.about {
  padding-bottom: clamp(5rem, 4.071rem + 3.81vw, 7.5rem);
  background-color: #fff;
}
.about--wrapper {
  display: flex;
  // align-items: baseline;
  justify-content: space-between;
}
.about__info {
  padding-top: 100px;
}
.about__title {
  font-family: $font-family;
  font-weight: 700;
  font-size: clamp(2rem, 1.721rem + 1.143vw, 2.75rem);

  line-height: clamp(2.813rem, 2.418rem + 1.619vw, 3.875rem);
  // line-height: 140%;
  color: #860cff;
  max-width: 420px;
  width: 100%;
}
.about__descr {
  font-family: $font-family;
  font-weight: 300;
  font-size: clamp(0.875rem, 0.829rem + 0.19vw, 1rem);
  padding-top: 16px;
  line-height: clamp(1.25rem, 1.204rem + 0.19vw, 1.375rem);
  // line-height: 140%;
  color: #000;
  padding-bottom: clamp(2.5rem, 2.036rem + 1.905vw, 3.75rem);
  max-width: 426px;
  width: 100%;
}
.about--items {
  display: flex;
  // align-items: center;
  flex-direction: column;
  gap: 40px;
}
.about__item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.about__item--img {
  width: clamp(4rem, 3.629rem + 1.524vw, 5rem);
  height: clamp(4.438rem, 4.229rem + 0.857vw, 5rem);
  img {
    width: 100%;
    height: 100%;
  }
}
.about__item--text {
  font-family: $font-family;
  font-weight: 600;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);

  line-height: clamp(1.375rem, 1.236rem + 0.571vw, 1.75rem);
  // line-height: 140%;
  color: #000;
  max-width: 426px;
  width: 100%;
}
.about__image {
  width: clamp(20.5rem, 10.634rem + 40.476vw, 47.063rem);
  height: clamp(17.313rem, 8.979rem + 34.19vw, 39.75rem);
  img {
    width: 100%;
    height: 100%;
  }
}
.about__title--mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .about--wrapper {
    flex-direction: column-reverse;
  }
  .about__info {
    padding-top: 0;
  }
  .about__title--mobile {
    display: block !important;
    transform: translateY(30px);
  }
  .about__title {
    display: none;
  }
  .about__item--text {
    max-width: 100%;
  }
}
