@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url(../fonts/Raleway-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url(../fonts/Raleway-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: url(../fonts/Raleway-ExtraBold.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url(../fonts/Raleway-SemiBold.ttf) format("ttf");
}
@font-face {
  font-family: "Tiny5";
  font-weight: 400;
  src: url(../fonts/tiny5-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Regular";
  font-weight: 100;
  src: url(../fonts/Raleway-Light.ttf) format("ttf");
}
