.hero {
  padding-top: 40px;
  background: #fff;
  background-image: linear-gradient(to bottom, #860cff 85%, #fff 15%);
  .container {
    position: relative;
  }
}
.hero__title {
  font-family: $font-family;
  font-weight: 800;
  font-size: clamp(2.25rem, 1.646rem + 2.476vw, 3.875rem);

  line-height: clamp(3.125rem, 2.203rem + 3.802vw, 5.625rem);
  // line-height: 140%;
  color: #fff;
}
.hero__subtitle {
  font-family: $font-family;
  font-weight: 800;
  font-size: clamp(1.25rem, 0.789rem + 1.901vw, 2.5rem);

  line-height: clamp(1.75rem, 0.961rem + 3.238vw, 3.875rem);
  // line-height: 140%;
  color: #fff;
}
.hero__images {
  padding-top: 40px;
  padding-bottom: 20px;
}
.hero__img1 {
  margin-right: clamp(0.313rem, -3.841rem + 6.49vw, 2rem);
  padding-top: 10px;
  width: clamp(12.5rem, 7.393rem + 20.952vw, 26.25rem);
  height: clamp(11.25rem, 6.143rem + 20.952vw, 25rem);
}
.hero__img2 {
  margin-right: clamp(0.313rem, -3.841rem + 6.49vw, 2rem);
  padding-top: 30px;
  width: clamp(4rem, 1.771rem + 9.143vw, 10rem);
  height: clamp(4rem, 1.771rem + 9.143vw, 10rem);
}
.hero__img3 {
  width: clamp(5.625rem, 2.561rem + 12.571vw, 13.875rem);
  height: clamp(5.625rem, 2.143rem + 14.286vw, 15rem);
}
.hero__content {
  position: absolute;
  border-radius: 4px;
  padding: 40px 80px 60px 60px;
  max-width: 413px;
  background: #fcffad;
  right: 60px;
  bottom: 36%;
}
.hero__content--text {
  font-family: $font-family;
  font-weight: 700;
  font-size: clamp(1rem, 0.536rem + 1.905vw, 2.25rem);

  line-height: clamp(1.563rem, 0.982rem + 2.381vw, 3.125rem);
  // line-height: 140%;
  color: #860cff;
}
.hero__content--text:not(:last-child) {
  padding-bottom: clamp(0.438rem, 0.043rem + 1.619vw, 1.5rem);
}

@media screen and (max-width: 1024px) {
  .hero__content {
    top: 15%;
    height: 130px;
    padding: 16px;
  }
  .info {
    position: relative;
    z-index: 10;
  }
  .hero__img1 {
    margin: 0;
    position: absolute;
    right: 50px;
    bottom: 40%;
    z-index: 1;
  }

  .hero__img2 {
    position: absolute;
    bottom: 65%;
  }
  .hero__img3 {
    position: absolute;
    bottom: 50%;
    left: 28%;
  }
  .hero__subtitle {
    padding-bottom: 265px;
  }
}
@media screen and (max-width: 768px) {
  .hero__content {
    top: 17%;
  }
  .hero {
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .hero__content {
    height: 110px;
  }
  .hero__img3 {
    left: 20%;
  }
  .hero__img1 {
    bottom: 42%;
  }
}
@media screen and (max-width: 420px) {
  .hero__content {
    height: 90px;
    right: 30px;
    top: 15%;
  }
  .hero__img3 {
    left: 20%;
    width: 100px;
    height: 100px;
  }
  .hero__img1 {
    bottom: 50%;
    right: 30px;
  }
  .hero__img2 {
    bottom: 67%;
    width: 90px;
    height: 90px;
    // right: 30px;
  }
  .hero__img3 {
    bottom: 55%;
    // right: 30px;
    left: 70px;
  }
  .hero__subtitle {
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 400px) {
  .hero__content {
    top: 19%;
  }
}
